body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

#danceFloor {
  height: 100%;
  width: 100%;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  background-color: red;
  border-radius:10px;
  position:absolute;
  font-family: "Comic Sans MS";
  z-index: 1;
}

.colorDancer {
  background-color: #33CCCC;
  color: white;
  border-radius: 10px;
  position: absolute;
}

.blinkyDancer {
  background-color: #FF5050;
  color: white;
}

.scaredDancer {
  /*background-image: url('bashful.png');*/
  background-color: white;
  color: black;
  border: none;
  height: 100px;
  width: 100px;
  background-size: 100px;
  position: absolute;
}
